.head{
    background-color: #d0bdf4;
    /* display:flex; */
 
    /* color:midnightblue; */
    /* text-align: center; */
}
.head1{
    text-align: center;
}

.head2{
    text-align: center;
}
h3{
    text-align: center;
    font-size: x-large;
}
.grid{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly;
    text-align: center; 
}

.grid2{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly;
    text-align: center; 
}
/* *{
    border: solid;
} */